{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
{% endblock %}
{% block content %}
<div class="jumbotron mx-5">
    <h1 class="display-3">Success</h1>
    <p class="lead">Password link sent via email</p>
    <hr class="my-2">
    <p>if your mail is registered with us, you will get a mail with a link to reset the password and create a new password for your account</p>
    <p>please check your registed email</p>
</div>
{% endblock %}
{% block js %}
{% endblock %}