{% extends 'layout/base.html' %}
{% load static %}


{% block css %}
<style>
    body {
        
        
        background-image: url("https://images.unsplash.com/flagged/photo-1601316587579-187125db32c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .alert-danger ul {
        list-style: none;
        padding-left: 0;
    </style>
    
    {% endblock css %}
    
    {% block content %}
    <div class="container" style="background-color: rgb(57, 95, 91)"; >
        <div class="row">
            <div class="col-lg-9 mx-auto my-5 text-left text-dark ">
                
                <div class="card">
                   
                     <img src="{{results.0.img.url}}" alt="{{record.name}}">
                     <div class="container" style:"background-color: rgb(57, 95, 91)"; >
                    <div class="card-body my-2">
                      
                        {% for record in results %}
                        <div>     
                            <h1 style="font-size:50px;"><u>{{record.name}}</u></h1>
                            <table class="table table-inversed bg-light my-4" style= "border: 3px solid black"; >
                            <thead >
                                <tr>
                                    <th>Category of Crop</th>
                                    <td>{{record.category}} </td>
                                </tr>
                                <tr>
                                    <th>Type of Crop </th>
                                    <td> {{record.type}}</td>
                                </tr>
                                <tr> 
                                <th>Sowning Season</th>
                                <td> {{record.sown}}</td>
                                </tr>
                                <tr>
                                    <th>Harvesting Season</th>
                                    <td> {{record.harvest}}</td>
                                </tr>
                                <tr>
                                    <th>Soil Required</th>
                                    <td> {{record.soil}}</td>
                                </tr>
                                <tr>
                                    <th>Fertilizer Required</th>
                                    <td> {{record.fertilizer}}</td>
                                </tr>

                                   
                                    
                                   
                                   

                                
                            </thead>
                            
                        </table>

                            <p class="lead" style="font-size:30px;" ><b> {{record.soil}}</b></p>
                            <img src="{{record.soil.img.url}}"  height="300" width="300" alt="" class="thumbnail">
                            <p>{{record.soil.description}}</p>
                            <hr>
                            <p class="lead"><b>Season</b>: {{record.season}}</p>
                           
                            <img src="{{record.season.img.url}}"  height="300" width="300" alt="" class="thumbnail">
                            <p>{{record.season.description}}</p>
                            <hr>
                            <p class="lead"><b> Fertilizers Used</b>: {{record.fertilizer}}</p>
                            <img src="{{record.fertilizer.img.url}}"  height="300" width="300" alt="" class="thumbnail">
                            <p>{{record.fertilizer.description}}</p>
                            <hr>

                            <p class="lead"><b>Instruction for {{record.name}} cultivation</b><br>{{record.instruction|linebreaks}}</p>
                            <p class="lead"><b>Problem related to {{record.name}}</b><br>{{record.problem|linebreaks}}</p>
                        </div>
                        {% empty %}
                        <h3 class="card-title">OPPS!! No Record Found</h3>
                        
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    </div>
    
    {% endblock %}
    
    