{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<style>
    body {
        
        
        background-image: url("https://images.unsplash.com/flagged/photo-1601316587579-187125db32c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .alert-danger ul {
        list-style: none;
        padding-left: 0;
    }
</style>



{% endblock css %}



{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-9 mx-auto my-5 text-left text-dark ">
            <div class="container">
                <div class="row">
                   
                    {% for item in seeds %}
                    <div class="col-md-6">
                        <div class="card border-success">
                            
                            <div class="card-body">
                                <img src="{{ item.img.url }}" class="img-thumbnail float-start border-0" height="150" alt="{{ item.name }}">
                                <h4 class="card-title">{{item.name}}</h4>
                                <p class="card-text" style="font-size:.8rem">{{item.description}}</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-success btn-sm"  href="{% url 'purchase_one' item.pk %}" class="card-link">purchase </a>
                                <a class="btn btn-success btn-sm"  href="{% url 'add_to_cart' item.pk %}" class="card-link">add to cart</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="jumbotron-fluid">
                        
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="" role="button">Out of stock</a>
                        </p>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 my-5">
            
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $(function () {
        
    });
</script>
{% endblock js %}

