{% extends 'layout/base.html' %}
{% load static %}


{% block css %}
<style>
    body {


        background-image: url("https://images.unsplash.com/flagged/photo-1601316587579-187125db32c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .alert-danger ul {
        list-style: none;
        padding-left: 0;
</style>

{% endblock css %}


{% block content %}
<div class="container" style="background-color:  rgb(103, 194, 194)">
    <div class="row">

        <div class="col mx-auto my-5 text-left text-white">
            <h1 style="text-align: center;"><u><b>AgroAcres</b></u></h1>
            <p class="para" my-3>

            <h2><img class="alignnone wp-image-1108049 size-full" title="Crops"
                    src="https://media.smilinggardener.com/files/images/articles/collection/all-about-soil/3-all-about-soil-worms.jpg"
                    alt="About us" width="1000" height="436"></h2>
            <h3><span class="italic"><strong>Agriculture is the backbone of the Indian Economy"- said Mahatma
                        Gandhi.</strong></span><br></h3>

            AgroAcres is a web based project which is useful for farmers and agricultural students.
            This is an open discussion portal providing solutions to small farmers and agricultural students.
            It also provides soil analysis for all regions and suggestions on which fertilizers to use
            where and how much? And which crop, herb or vegetable to be grown where and in which season?
            <br>

            Indian farmers are second to none in production and productivity despite of the
            fact that millions are marginal and small farmers. They adopt improved agriculture
            technology as efficiently as farmers in developed countries. It is felt that with
            provision of timely and adequate inputs such as fertilizers, seeds, pesticides and
            by making available affordable agricultural credit /crop insurance, Indian farmers
            are going to ensure food and nutritional security to the Nation.
            </p>

            <p class="para">
                Once in the Farmers’ Portal, a farmer will be able to get all relevant information
                on specific subjects around his village/block /district or state. Also they can sell and buy seed for
                their crops. Farmers will also be able to ask
                specific queries as well
                as give valuable feedback through the Feedback module specially developed for the
                purpose.
            </p>
        </div>
    </div>
</div>



{% endblock content %}