{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<style>
    body {


        background-image: url("https://images.unsplash.com/flagged/photo-1601316587579-187125db32c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .alert-danger ul {
        list-style: none;
        padding-left: 0;
</style>



{% endblock css %}



{% block content %}
<div class="container" style="background-color: rgb(57, 95, 91); " text-left">
    <div class="row">
        <div class="_1AtVbE col-12-12">
        <div class="Vy94J0">
        <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" class="_2giOt4">
        <div class="_1LCJ1U">Missing Cart items?</div><div class="hKIFfL">Login to see the items you added previously</div>
        <button class="_2KpZ6l _1sbqEe _3AWRsL"><span>Login</span></button>
        </div></div>
{% blockend content %}