
{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<style>
     body {
        
        
        background-image: url("https://images.unsplash.com/flagged/photo-1601316587579-187125db32c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .alert-danger ul {
        list-style: none;
        padding-left: 0;

    }

    
</style>

{% endblock css %}



{% block content %}
<div class="container" style="background-color: rgb(103, 194, 194) " >
    {% csrf_token %}
    <div class="row my-5">
        <div class="col-lg-6 col-sm-6 mx-auto text-left text-white text-center">
            <h2>
                <span>
                    Hello 
                </span>
                {{product.user}}!
            </h2>
            <h3>
                <span>
                    Payable Amount: 
                </span>
                {{product.total_amt}}
            </h3>
            <strong>{{product.product_details|linebreaks}}</strong>
            <button type="button" class=" btn-danger btn-sm  " id="checkout-button">Checkout</button>
     </div>
    
    </div>
   
</div>

{% endblock content %}


{% block js %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'checkout' product.id %}", {
        method: "POST",
        headers: {
          'X-CSRFToken': csrftoken
        }
      })
        .then(function (response) {
          //  console.log(response);
            return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          //console.error("Error:", error);
          setTimeout(() => {
            alert(error);
          }, 1500);
        });
    });
 
</script>    
{% endblock js %}
